<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Parceiro</title>
    <link rel='stylesheet' href='/stylesheets/utilizadores/registarparceiro.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../general/header',{username:username, userId:userId}) -%>
        <main>
            <%- include('../general/sidebar', { activeItem: 'pagina3' }) -%>


                <div class="content">
                    <h2>Informação Parceiro</h2>
                    <form action="/partners/update/<%=partner._id%>" method="post" enctype="multipart/form-data">
                        <div id="formContent">
                            <div id="leftside">

                                <div id="preview-container">
                                    <img id="preview-image" src="../../images/partners/<%=partner.id %>.jpg" alt="Imagem existente">
                                </div>

                                <div id="upload-box">
                                    <input type="file" id="upload-input" name="file" accept="image/*" onchange="previewImage(event)" />
                                    <label for="upload-input" id="upload-label">Escolher imagem</label>
                                </div>

                                <div class="inputContainer">
                                    <label for="description">Descrição:</label>
                                    <textarea id="description" name="description" rows="4"
                                         required><%=partner.description %></textarea>
                                </div>
                            </div>
                            <div id="rightside">
                                <div class="inputContainer">
                                    <label for="name">Nome:</label>
                                    <input type="text" id="name" name="name" value="<%= partner.name %>" required>
                                </div>
                                <div class="inputContainer">
                                    <label for="phone">Telemóvel:</label>
                                    <input type="tel" id="phone" name="phone" value="<%= partner.phone %>"
                                        required="[0-9]{9}">
                                </div>
                                <div class="inputContainer">
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" value="<%= partner.email %>"
                                        required>
                                </div>
                                <div class="inputContainer">
                                    <label for="address">Morada:</label>
                                    <input type="text" id="address" name="address" value="<%= partner.address %>"
                                        required>
                                </div>
                                <div class="inputContainer">
                                    <label for="postCode">Código-Postal:</label>
                                    <input type="text" id="postCode" name="postCode"
                                    value="<%= partner.postCode %>" required="[0-9]{4}-[0-9]{3}">
                                </div>
                                <div class="inputContainer">
                                    <label for="city">Cidade:</label>
                                    <input type="text" id="city" name="city" value="<%= partner.city %>" required>
                                </div>

                            </div>
                        </div>
                        <button type="submit">Guardar</button>
                    </form>
                </div>
        </main>

        <script>
            
    document.getElementById('city').addEventListener('input', function() {

        this.value = this.value.toLowerCase();
    });
    
            function previewImage(event) {
            const input = event.target;
            const reader = new FileReader();
        
            reader.onload = function() {
                const imgElement = document.createElement('img');
                imgElement.src = reader.result;
                imgElement.style.maxWidth = '100%';
                imgElement.style.maxHeight = '100%';
        
                const previewContainer = document.querySelector('#preview-container');
                previewContainer.innerHTML = ''; // Limpa qualquer prévia existente
                previewContainer.appendChild(imgElement);
            };
        
            reader.readAsDataURL(input.files[0]);
        }
        </script>
</body>
</html>