<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestão de Doadores</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/management.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
</head>

<body>
  <%- include('../general/header',{username:username, userId:userId}) -%>
    <main>
      <%- include('../general/sidebar', { activeItem: 'pagina3' }) -%>

        <div class="content">
          <div class="contentHeader">
            <h1>Parceiros</h1>
            <div class="botoes">
              <!--<button id="exportar"><img src="../images/download.webp" alt="" height="10" width="10"> Exportar</button> -->

              <button id="exportar" onclick="exportTableToPDF()">
                <img src="../../public/images/download.webp" alt="" height="10" width="10"> Exportar
              </button>

              <div class="dropdown">
                <button onclick="toggleDropdown()" id="novo">&#x2b; Novo utilizador</button>
                <div id="dropdownContent" class="dropdown-content" style="display: none;">
                  <a href="/employees/create">Funcionário</a>
                  <a href="/donators/create">Doador</a>
                  <a href="/entities/create">Instituição</a>
                  <a href="/partners/create">Parceiro</a>
                </div>
              </div>
            </div>
          </div>
          <nav id="filtros">
            <a href="/employees/">Funcionários</a>
            <a href="/donators/">Doadores</a>
            <a href="/entities/">Instituições</a>
            <a href="/partners/" id="current">Parceiros</a>
          </nav>

          <div class="midbar">
            <p><strong>
                <%=number%>
              </strong> no total</p>

            <form action="/partners/searchByemail" method="get">
              <input type="text" name="email" placeholder="&#128269; Pesquisa email">
              <button type="submit">
                <i class="fas fa-search" id="search"></i>
              </button>
            </form>

          </div>
          <div class="tabela-scroll">
            <table id="tabela">
              <thead>
                <th>Nome</th>
                <th>Email</th>
                <th>Cidade</th>
                <th>Telemóvel</th>
                <th></th>
              </thead>
              <tbody>
                <% partners.forEach(partner=> {%>
                  <tr>
                    <td>
                      <%=partner.name%>
                    </td>
                    <td>
                      <%=partner.email%>
                    </td>
                    <td>
                      <%=partner.city%>
                    </td>
                    <td>
                      <%=partner.phone%>
                    </td>
                    <td>
                      <form action="/partners/delete/<%=partner._id%>" method="post">
                        <button id="delete" type="submit">&#x2715;</button>
                      </form>
                      <form action="/partners/edit/<%=partner._id%>">
                        <button type="submit">&#x270E;</button>
                      </form>
                      <form action="/partners/show/<%=partner._id%>">
                        <button id="ver" type="submit">&#128462;</button>
                      </form>
                    </td>
                  </tr>
                  <% });%>
              </tbody>
            </table>
          </div>
        </div>

        <script>
          function toggleDropdown() {
            var dropdownContent = document.getElementById("dropdownContent");
            if (dropdownContent.style.display === "none") {
              dropdownContent.style.display = "block";
            } else {
              dropdownContent.style.display = "none";
            }
          }
          
          async function exportTableToPDF() {
            const { jsPDF } = window.jspdf;

            const pdf = new jsPDF('p', 'pt', 'a4');
            const table = document.getElementById("tabela");


            await html2canvas(table, {
              onrendered: function (canvas) {
                const imgData = canvas.toDataURL('../../public/images/download.webp');


                pdf.addImage(imgData, 'webp', 15, 40, 560, 0);


                pdf.save("tabela.pdf");
              }
            });
          }
        </script>


    </main>
</body>

</html>