<!DOCTYPE html>
<html>

<head>
  <title>Donation Detail</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h3><a href="/donations">Donation List</a></h3>
    <h1>Donation Detail</h1>
    <% donations.forEach(Donations=> {%>
      <table>
        <tbody>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td>
              <%= donation.name %>
            </td>
          </tr>
          <tr>
            <td>Address</td>
            <td>:</td>
            <td>
              <%= donation.address %>
            </td>
          </tr>
          <tr>
            <td>Position</td>
            <td>:</td>
            <td>
              <%= donation.position %>
            </td>
          </tr>
          <tr>
            <td>Salary</td>
            <td>:</td>
            <td>$<%= donation.salary %>/year</td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/donations/edit/<%=donation._id%>">EDIT</a></h3>
        <form action="/donations/delete/<%=donation._id%>" method="post">
          <button type="submit">DELETE</button>
        </form>
      <% });%>

        
  </div>
</body>

</html>