<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doação</title>
    <link rel='stylesheet' href='/stylesheets/doar.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include('general/header') -%>
  <main>
    <%- include('general/sidebar', { activeItem: 'pagina2' }) -%>

        <div class="content">
            <div class="contentHeader">
              <h1>Doação</h1> <br><br>
                <h2>Roupa</h2> <br/>

                <form id="Form">
                    <label for="Camisola">Camisolas:</label>
                    <input type="number" id="Camisola" name="Camisola" min="0"><br><br>
            
                    <label for="Casaco">Casacos:</label>
                    <input type="number" id="Casaco" name="Casaco" min="0"><br><br>

                    <label for="Calcas">Calças:</label>
                    <input type="number" id="Calcas" name="Calcas" min="0"><br><br>

                    <label for="Sapatos">Par de Sapatos:</label>
                    <input type="number" id="Sapatos" name="Sapatos" min="0"><br><br>

                    <label for="Acessorios">Acessorios:</label>
                    <input type="number" id="Acessorios" name="Acessorios" min="0"><br><br>

                    <label for="RoupaInterior">Roupa Interior:</label>
                    <input type="number" id="RoupaInterior" name="RoupaInterior" min="0"><br><br>
                <br><br>

                <h2>Dinheiro</h2> <br/>
                    <label for="Dinheiro">€:</label>
                    <input type="number" id="Dinheiro" name="Dinheiro" min="0"><br><br>

                    <div class="buttonContainer">
                      <button id="simular" type="button" onclick="simulardoacao()">Simular</button>
                      <button id="doar" type="button" onclick="doar()">Doar</button>
                    </div>
                </form>   
                <div id="modal" class="modal">
                  <div class="modal-content">
                    <span class="close" onclick="fecharModal()">&times;</span>
                    <p id="totalSimuladoText">Total Simulado da Doação: € <span id="totalSimulado"></span></p>
                  </div>
                </div>

                <script>
                  
function simulardoacao(){
    const camisolas = parseInt(document.getElementById('Camisola').value) || 0;
    const casacos = parseInt(document.getElementById('Casaco').value) || 0;
    const calcas = parseInt(document.getElementById('Calcas').value) || 0;
    const sapatos = parseInt(document.getElementById('Sapatos').value) || 0;
    const acessorios = parseInt(document.getElementById('Acessorios').value) || 0;
    const roupainterior = parseInt(document.getElementById('RoupaInterior').value) || 0;
    const dinheiro = parseInt(document.getElementById('Dinheiro').value) || 0;

    const pontcamisola = parseInt('<%= point.camisola %>');
    const pontcasaco = parseInt('<%= point.casaco %>');
    const pontcalcas = parseInt('<%= point.calcas %>');
    const pontsapatos = parseInt('<%= point.sapatos %>');
    const pontacessorios = parseInt('<%= point.acessorios %>');
    const pontroupainterior = parseInt('<%= point.roupainterior %>');
    const pontdinheiro = parseInt('<%= point.dinheiro %>');

    const total=  camisolas*pontcamisola + casacos*pontcasaco + calcas*pontcalcas + sapatos*pontsapatos + acessorios*pontacessorios + roupainterior*pontroupainterior +  dinheiro*pontdinheiro;

    // Atualiza o texto dentro do modal com o total simulado
    document.getElementById('totalSimulado').textContent = total;
    
    // Exibe o modal
    const modal = document.getElementById('modal');
    modal.style.display = 'block';
}

    function fecharModal() {
        // Fecha o modal ao clicar no botão de fechar
        const modal = document.getElementById('modal');
        modal.style.display = 'none';
    }
            </script>

</body>
</html>