<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestão de doações</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/management.css' />
</head>

<body>
  <%- include('general/header',{username:username, userId:userId}) -%>
    <main>
      <%- include('general/sidebar', {activeItem: 'pagina2' }) -%>

        <div class="content">
          <div class="contentHeader">
            <h1>Doações</h1>
            <div class="botoes">
              <button id="exportar"><img src="../images/download.webp" alt="" height="10" width="10"> Exportar</button>
            </div>
          </div>
          <div class="midbar">
            <p><strong>
                <%=number%>
              </strong> no total</p>
            <input type="text" placeholder="&#128269;  Pesquisa">
          </div>
          <table>
            <thead>
              <th>Doador</th>
              <th>Aprovado</th>
              <th>Pontos</th>
              <th></th>
            </thead>
            <tbody>
              <% donations.forEach(donation=> {%>
                <tr>
                  <td>
                    <%=donation.donatorId%>
                  </td>
                  <td>
                    <%= donation.approved ? 'sim' : 'não' %>
                  </td>     
                  <td>
                    <%=donation.points%>
                  </td>
                  <td style="display: flex; justify-content: center; gap: 1%;">
                    <form action="/donations/delete/<%=donation._id%>" method="post">
                      <button id="delete" type="submit">&#x2715;</button>
                    </form>
                    <form action="" method="post">
                      <button id="edit" type="submit">&#x270E;</button>
                    </form>
                    <form action="" method="post">
                      <button id="ver" type="submit">&#128462;</button>
                    </form>
                  </td>
                </tr>
                <% });%>
            </tbody>
          </table>
        </div>
    </main>
</body>

</html>