<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestão de Pedidos</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/management.css' />
</head>

<body>
  <%- include('general/header',{username:username, userId:userId}) -%>
    <main>
      <%- include('general/sidebar', { activeItem: 'pagina4'}) -%>

        <div class="content">
          <div class="contentHeader">
            <h1>Pedidos</h1>
            <div class="botoes">
              <!--<button id="exportar"><img src="../images/download.webp" alt="" height="10" width="10"> Exportar</button> -->

              <button id="exportar" onclick="exportarUtilizadores()">
                <img src="../images/download.webp" alt="" height="10" width="10"> Exportar
              </button>

              <div class="dropdown">
                <button onclick="toggleDropdown()" id="novo">&#x2b; Novo utilizador</button>
                
              </div>
            </div>
          </div>
          <nav id="filtros">
            <a href="/users/gerirFuncionarios" id="current">Aprovados</a>
            <a href="/users/gerirDoadores">Não Aprovados</a>
          </nav>

          <div class="midbar">
            <p><strong>
                <%=number%>
              </strong> no total</p>
            <input type="text" placeholder="&#128269;  Pesquisa">
          </div>
          <table>
            <thead>
              <th>Doador</th>
              <th>Cidade</th>
              <th>Morada</th>
              <th></th>
            </thead>
            <tbody>
              <% requests.forEach(request=> {%>
                <tr>
                  <td>
                    <%=request.donatorName%>
                  </td>
                  <td>
                    <%=request.city%>
                  </td>
                  <td>
                    <%=request.city%>
                  </td>
                  <td>
                    <%=request.address%>
                  </td>
                  <td>
                    <form action="/requests/delete/<%=request._id%>" method="post">
                      <button id="delete" type="submit">&#x2715;</button>
                    </form>
                    <!--Por o botao de editar-->
                    <!-- <button style="background-color: green;">&#x2713;</button>-->
                    <form action="/requests/edit/<%=request._id%>">
                      <button type="submit">&#x270E;</button>
                    </form>
                    <form action="/requests/show/<%=request._id%>" >
                      <button id="ver" type="submit">&#128462;</button>
                    </form>
                  </td>
                </tr>
                <% });%>
            </tbody>
          </table>
        </div>

        <script>
          function toggleDropdown() {
            var dropdownContent = document.getElementById("dropdownContent");
            if (dropdownContent.style.display === "none") {
              dropdownContent.style.display = "block";
            } else {
              dropdownContent.style.display = "none";
            }
          }
        </script>

        <script>
          function exportarUtilizadores() {

          }
        </script>


    </main>
</body>

</html>