<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestão de recolhas</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/management.css' />
</head>

<body>
  <%- include('general/header') -%>
  <main>
    <%- include('general/sidebar') -%>

    <div class="content">
      <div class="contentHeader">
        <h1>Pedidos de Recolha</h1>
        <div class="botoes">
          <button id="exportar"><img src="../images/download.webp" alt="" height="10" width="10"> Exportar</button>
          <div class="dropdown">
            <button id="novo">&#x2b; Nova doação</button>
          </div>
        </div>
      </div>
      <div class="midbar">
        <p><strong>200</strong> no total</p>
        <input type="text" placeholder="&#128269;  Pesquisa">
      </div>
      <table>
        <thead>
          <th>Doador</th>
          <th>Estado</th>
          <th>Morada</th>
          <th>Doação</th>
          <th></th>
        </thead>
        <tbody>
          <% requests.forEach(request=> {%>
            <tr>
              <td>
                <%=request.name%>
              </td>
              <td>
                <%=request.name%>
              </td>
              <td>
                <%=request.name%>
              </td>
              <td>
                <%=request.name%>
              </td>
              <td style="display: flex; justify-content: center; gap: 1%;">
                <form action="/donations/delete/<%=request._id%>" method="post">
                  <button id="delete" type="submit">&#x2715;</button>
                </form>
                <form action="" method="post">
                  <button type="submit">&#x270E;</button>
                </form>
                <form action="" method="post">
                  <button type="submit">&#128462;</button>
                </form>
              </td>
            </tr>
            <% });%>
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>