<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestão de Pedidos</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/management.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
</head>

<body>
  <%- include('../general/header',{username:username, userId:userId}) -%>
    <main>
      <%- include('../general/sidebar', { activeItem: 'pagina4'}) -%>

        <div class="content">
          <div class="contentHeader">
            <h1>Pedidos</h1>
            <div class="botoes">
              <!--<button id="exportar"><img src="../images/download.webp" alt="" height="10" width="10"> Exportar</button> -->

              <button id="exportar" onclick="exportTableToPDF()">
                <img src="../../public/images/download.webp" alt="" height="10" width="10"> Exportar
              </button>

            </div>
          </div>
          <nav id="filtros">
            <a href="/requests/">Terminados</a>
            <a href="/requests/naoTerminados" id="current">Não Terminados</a>
          </nav>

          <div class="midbar">
            <p><strong>
                <%=number%>
              </strong> no total</p>
              <form action="/requests/searchByCity2" method="get">
                <input type="text" name="city" placeholder="&#128269; Pesquisa Cidade">
                <button type="submit" style="display: none;">
                    <i class="fas fa-search" id="search"></i>
                </button>
            </form>
          </div>
          <div class="tabela-scroll">
          <table id="tabela">
            <thead>
              <th>Doador</th>
              <th>Cidade</th>
              <th>Morada</th>
              <th>Data</th>
              <th></th>
            </thead>
            <tbody>
              <% requests.forEach(request=> {%>
                <tr>
                  <td>
                    <%=request.donatorName%>
                  </td>
                  <td>
                    <%=request.city%>
                  </td>
                  <td>
                    <%=request.address%>
                  </td>
                  <td>
                    <script>
                        var originalDate = "<%= request.updated_at %>";
                        var formattedDate = new Date(originalDate).toLocaleString('pt-PT', {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric',
                            hour: '2-digit',
                            minute: '2-digit'
                        });
                        document.write(formattedDate);
                    </script>
                </td>
                  <td>
                    <form action="/requests/approve/<%= request._id %>" method="post">
                      <button id="aprovar" type="submit">&#10003;</button>
                    </form>
                    <form action="/requests/delete/<%=request._id%>" method="post">
                      <button id="delete" type="submit">&#x2715;</button>
                    </form>
                    <form action="/requests/show/<%=request._id%>" >
                      <button id="ver" type="submit">&#128462;</button>
                    </form>
                  </td>
                </tr>
                <% });%>
            </tbody>
          </table>
          </div>
        </div>

        <script>
          function toggleDropdown() {
            var dropdownContent = document.getElementById("dropdownContent");
            if (dropdownContent.style.display === "none") {
              dropdownContent.style.display = "block";
            } else {
              dropdownContent.style.display = "none";
            }
          }

          async function exportTableToPDF() {
            const { jsPDF } = window.jspdf;

            const pdf = new jsPDF('p', 'pt', 'a4');
            const table = document.getElementById("tabela");


            await html2canvas(table, {
              onrendered: function (canvas) {
                const imgData = canvas.toDataURL('../../public/images/download.webp');


                pdf.addImage(imgData, 'webp', 15, 40, 560, 0);


                pdf.save("tabela.pdf");
              }
            });
          }
        </script>


    </main>
</body>

</html>