<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestão de Doadores</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/management.css' />
</head>

<body>
  <%- include('../general/header',{username:username, userId:userId}) -%>
    <main>
      <%- include('../general/sidebar', { activeItem: 'pagina3' }) -%>

        <div class="content">
          <div class="contentHeader">
            <h1>Instituições</h1>
            <div class="botoes">
              <!--<button id="exportar"><img src="../images/download.webp" alt="" height="10" width="10"> Exportar</button> -->

              <button id="exportar" onclick="exportarUtilizadores()">
                <img src="../../public/images/download.webp" alt="" height="10" width="10"> Exportar
              </button>

              <div class="dropdown">
                <button onclick="toggleDropdown()" id="novo">&#x2b; Novo utilizador</button>
                <div id="dropdownContent" class="dropdown-content" style="display: none;">
                  <a href="/employees/create">Funcionário</a>
                  <a href="/donators/create">Doador</a>
                  <a href="/entities/create">Instituição</a>
                  <a href="/partners/create">Parceiro</a>
                </div>
              </div>
            </div>
          </div>
          <nav id="filtros">
            <a href="/employees/" >Funcionários</a>
            <a href="/donators/">Doadores</a>
            <a href="/entities/" id="current">Instituições</a>
            <a href="/partners/">Parceiros</a>
          </nav>

          <div class="midbar">
            <p><strong>
                <%=number%>
              </strong> no total</p>
            <nav id="filtros">
              <a href="/entities/">Aprovadas</a>
              <a href="/entities/notApproved" id="current">Não Aprovadas</a>
            </nav>

            <form action="/entities/searchByemail" method="get">
              <input type="text" name="email" placeholder="&#128269; Pesquisa email">
              <button type="submit">
                <i class="fas fa-search" id="search"></i>
              </button>
            </form>

          </div>
          <div class="tabela-scroll">
            <table>
              <thead>
                <th>Nome</th>
                <th>Email</th>
                <th>Cidade</th>
                <th>Telemóvel</th>
                <th></th>
              </thead>
              <tbody>
                <% entities.forEach(entity=> { %>
                  <tr>
                    <td>
                      <%= entity.name %>
                    </td>
                    <td>
                      <%= entity.email %>
                    </td>
                    <td>
                      <%= entity.city %>
                    </td>
                    <td>
                      <%= entity.phone %>
                    </td>
                    <td>
                      <form action="/entities/approve/<%= entity._id %>" method="post">
                        <button id="aprovar" type="submit">&#10003;</button>
                      </form>
                      <form action="/entities/delete/<%= entity._id %>" method="post">
                        <button id="delete" type="submit">&#x2715;</button>
                      </form>
                      <form action="/entities/edit/<%= entity._id %>">
                        <button type="submit">&#x270E;</button>
                      </form>
                      <form action="/entities/show/<%= entity._id %>">
                        <button id="ver" type="submit">&#128462;</button>
                      </form>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
          </div>
        </div>

        <script>
          function toggleDropdown() {
            var dropdownContent = document.getElementById("dropdownContent");
            if (dropdownContent.style.display === "none") {
              dropdownContent.style.display = "block";
            } else {
              dropdownContent.style.display = "none";
            }
          }
        </script>

        <script>
          function exportarUtilizadores() {

          }
        </script>


    </main>
</body>

</html>