<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Parceiro</title>
    <link rel='stylesheet' href='/stylesheets/utilizadores/editarparceiro.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('../general/header') -%>
  <main>
    <%- include('../general/sidebar', { activeItem: 'pagina3' }) -%>



        <div class="content">

            <div class="informacaoparceiro">
                <h2>Informação Parceiro</h2> <br><br>
  
                <div class="grupo">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" value="<%= partner.nome %>" required>
                </div>
                <div class="grupo">
                    <label for="telemovel">Telemóvel:</label>
                    <input type="tel" id="telemovel" name="telemovel" value="<%= partner.telemovel %>" required>
                </div>
                <div class="grupo">
                    <label for="morada">Morada:</label>
                    <input type="text" id="morada" name="morada" value="<%= partner.morada %>" required>
                </div>
                <div class="grupo">
                    <label for="codigoPostal">Código-Postal:</label>
                    <input type="text" id="codigoPostal" name="codigoPostal" value="<%= partner.codigoPostal %>" required>
                </div>
                <div class="grupo">
                    <label for="cidade">Cidade:</label>
                    <input type="text" id="cidade" name="cidade" value="<%= partner.cidade %>" required>
                </div>
                <div class="grupo">
                    <label for="descricao">Descrição:</label>
                    <textarea id="descricao" name="descricao" rows="4" value="<%= partner.descricao %>" required></textarea>
                </div>
                <div class="grupo">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="<%= partner.email %>" required>
                </div>
                <div class="grupo">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="<%= partner.password %>" required>
                </div>
                <div class="grupo">
                    <label for="confirmarpassword">Confirmar Password:</label>
                    <input type="password" id="confirmarpassword" name="confirmarpassword" value="<%= partner.confirmarpassword %>" required>
                </div>
            </div>
            <br /><br />
            <button type="button" onclick="guardar()">Guardar</button> 
         </div>
     </main>
 </body>
 </html>