<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestão de doações</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/management.css' />
</head>

<body>
  <%- include('../general/header',{username:username, userId:userId}) -%>
    <main>
      <%- include('../general/sidebar', {activeItem: 'pagina2' }) -%>

        <div class="content">
          <div class="contentHeader">
            <h1>Doações</h1>
            <div class="botoes">
              <button id="exportar"><img src="../../public/images/download.webp" alt="" height="10" width="10"> Exportar</button>
            </div>
          </div>
          <div class="midbar">
            <p><strong>
                <%=number%>
              </strong> no total</p>
              <form action="/donations/searchByDonatorName" method="get">
                <input type="text" name="donatorName" placeholder="&#128269; Pesquisa Nome">
                <button type="submit" style="display: none;">
                    <i class="fas fa-search" id="search"></i>
                </button>
            </form>
          </div>
          <div class="tabela-scroll">
          <table>
            <thead>
              <th>Doador</th>
              <th>Aprovado</th>
              <th>Pontos</th>
              <th>Data de Doação</th>
              <th></th>
            </thead>  
            <tbody>
              <% donations.forEach(donation=> {%>
                <tr>
                  <td>
                    <%=donation.donatorName%>
                  </td>
                  <td>
                    <%=donation.approved ? 'sim' : 'não' %>
                  </td>
                  <td>
                    <%=donation.points%>
                  </td>
                  <td>
                    <script>
                        var originalDate = "<%= donation.updated_at %>";
                        var formattedDate = new Date(originalDate).toLocaleString('pt-PT', {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric',
                            hour: '2-digit',
                            minute: '2-digit'
                        });
                        document.write(formattedDate);
                    </script>
                </td>
                
                  <td>
                  </td>
                  <td style="display: flex; justify-content: center; gap: 1%;">
                    <% if (!donation.approved) { %>
                      <form action="/donations/approve/<%= donation._id %>" method="post">
                        <button id="aprovar" type="submit">&#10003;</button>
                      </form>
                      <% } %>
                  </td>
                  <td>
                    <form action="/donations/delete/<%=donation._id%>" method="post">
                      <button id="delete" type="submit">&#x2715;</button>
                    </form>
                  </td>
                  <td>
                    <form action="/donations/show/<%=donation._id%>">
                      <button id="ver" type="submit">&#128462;</button>
                    </form>
                  </td>
                </tr>
                <% });%>
            </tbody>
          </table>
          </div>
        </div>
    </main>
</body>

</html>